@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}

@layer components {
  .dark-bar {
    @apply bg-gray-950 text-white px-1 sm:px-7
  }
  .light-bar {
    @apply bg-gray-400 text-gray-950 px-1 sm:px-7
  }
  .dark-input {
    @apply bg-gray-950 text-white placeholder-gray-400
  }
  .light-input {
    @apply bg-gray-400 text-gray-950 placeholder-gray-900
  }
  .dark-search{
    @apply bg-gray-800 text-gray-200 
  }
  .light-search{
    @apply bg-gray-300 text-gray-800 
  }
  .dark-main{
    @apply bg-gray-900 text-white px-1 py-10 sm:px-7
  }
  .light-main{
    @apply bg-gray-200 text-gray-900 px-1 py-10 sm:px-7
  }
  .dark-card{
    @apply bg-gray-800/60 text-white
  }
  .light-card{
    @apply bg-gray-300/60 text-gray-800
  }
  .dark-footer{
    @apply bg-gray-800 text-white
  }
  .light-footer{
    @apply bg-gray-300 text-gray-800
  }
  .dark-break{
    @apply border-gray-400
  }
  .light-break{
    @apply border-gray-800
  }
}